html,
body {
  height: 100%;
  margin: 0;
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
}

#playArea {
  position: relative;
  width: 100vw;
  height: 100vh;
  border: 1px solid black;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
#playArea p {
  margin: 0;
  font-weight: bold;
}

#movingBox {
  position: absolute;
  width: 15vw;
  height: 15vw;
  background-color: salmon;
  top: 0;
  left: 0;
  cursor: grab;
}
