body {
  padding-top: 2rem;
  background-color: #cdcfd1;
}

.box {
  border-radius: 0.5rem;
  padding: 0.5rem 0;
  text-align: center;
  font-weight: 700;
  margin-bottom: 1rem;
}

.section {
  margin-bottom: 1rem;
}
